In [1]:
print("hello world")

hello world

In [2]:
a=10
b=20
print(a+b)

30

In [3]:
a=50
print(a)

50

In [4]:
print(a)

50

In [5]:
print(type(a))

<class 'int'>

In [6]:
a="hello"
print(type(a))

<class 'str'>

In [7]:
a=5.5
print(type(a))

<class 'float'>

In [8]:
name =input()
print("hello "+name)

saurabh
hello saurabh

In [9]:
number = int(input()) #typecasting
print(number)
print(type(number))

10
10
<class 'int'>

# string

In [10]:
sentence ="this is a machine learning class"
print(sentence[2])

i

In [11]:
sentence[1:6] #slicing

'his i'

In [12]:
sentence[-3:]

'ass'

In [14]:
sentence[-2]

's'

In [15]:
new_sent =sentence.split()

In [16]:
new_sent

['this', 'is', 'a', 'machine', 'learning', 'class']

In [17]:
new_sent[3]

'machine'

In [18]:
new_sent[-3]

'machine'

In [19]:
new_sent[-4]

'a'

In [20]:
s = '+'.join(new_sent)
print(new_sent)
print(s)

['this', 'is', 'a', 'machine', 'learning', 'class']
this+is+a+machine+learning+class

In [21]:
s2 ='hi'.join(["1","2","3"])

In [22]:
print(s2)

1hi2hi3

In [23]:
"hello" + str(5) #typecasting

'hello5'

In [24]:
"hello"*5

'hellohellohellohellohello'

In [26]:
"helloo"*4

'helloohelloohelloohelloo'

# Read a list of numbers

In [28]:
number_list = input().split()
print(number_list)
print(type(number_list))

1 2 4 5
['1', '2', '4', '5']
<class 'list'>

In [29]:
a= [1,2,3]
print(type(a))

<class 'list'>

In [30]:
b = [1,2,3,"hello",[3,4,5]]

In [31]:
print(b[-1])

[3, 4, 5]

In [32]:
print(b[-2])

hello

In [33]:
s1 = [1,2,3,4,5]
s1.append(6)
 
for x in s1:
    print(x)

1
2
3
4
5
6

In [34]:
number_list = input().split()
print(number_list)

l = []
for n in number_list:
    l.append(int(n))

print(l)

1 2 3 4
['1', '2', '3', '4']
[1, 2, 3, 4]

In [35]:
#List comperhsion
squares = [i**2 for i in l]
print(squares)

[1, 4, 9, 16]

In [36]:
l = [int(i)**2 for i in input().split()]
print(l)

 1 2 3 4 5
[1, 4, 9, 16, 25]

In [37]:
print(l,end=' ,')
print(l,"a","b",sep="+",end="?")
print("hi")

[1, 4, 9, 16, 25] ,[1, 4, 9, 16, 25]+a+b?hi

In [38]:
for i in range(11,5,-2): #start #end+1 #jump
    print(i)

11
9
7

In [39]:
s ="Hello world"
print(s[-3:2:-2])

rwo

Read N and print the star pattern

In [41]:
n = int(input())
for i in range(1,n+1):
    print(" "*(n-i),end="")
    print("*"*(2*i-1))

6
     *
    ***
   *****
  *******
 *********
***********

In [42]:
i = 1
while i<=5:
    print(i*1)
    i = i+1

1
2
3
4
5

In [43]:
lang = "c++"

In [44]:
if lang=='python':
    print("python")
elif lang=="c++":
    print("its c++")
else:
    print("whatever!")

its c++

In [48]:
def fun(a,b=10,*X,**kwargs):
    print("Having fun!")
    print(X)
    print(a,b)
    s = a + b + sum(X)
    print(kwargs)
    print(s)

In [49]:

fun(10,20,30,40,50,fruit="Mango",shake="Oreo")

Having fun!
(30, 40, 50)
10 20
{'fruit': 'Mango', 'shake': 'Oreo'}
150

# Data structures

In [50]:
#list
#Tuple

In [51]:
a = (10,20,30,40,"Hello")
print(type(a))
a[1]

<class 'tuple'>

20

In [52]:
b = list(a)
print(b)
b[0] =100
print(b)

[10, 20, 30, 40, 'Hello']
[100, 20, 30, 40, 'Hello']

In [53]:
# dictionary



d = {
    "pavbhaji":100,
    "golgappa":30,
    "idlisambhar":[40, 80],
    "maggi":{"regular":20,"chesse":30}
    
    
}

In [54]:
list(d.keys())

['pavbhaji', 'golgappa', 'idlisambhar', 'maggi']

In [55]:
list(d.values())

[100, 30, [40, 80], {'regular': 20, 'chesse': 30}]

In [56]:
d['golgappa']

30

In [57]:
d['maggi']['regular']

20

In [58]:
if d.get('Tea') is None:
    print("not present")
else:
    print(d['Tea'])

not present

In [59]:
for item in d.items():
    print(item)

('pavbhaji', 100)
('golgappa', 30)
('idlisambhar', [40, 80])
('maggi', {'regular': 20, 'chesse': 30})

In [60]:
d.update?

In [61]:
l = list([1,2,3])

In [62]:
t = tuple(l)

In [63]:
print(t)

(1, 2, 3)

In [64]:
countries = tuple(["India","us","south Africa"])
capitals = ["Delhi","washington"," cape Town"]


d = dict(zip(countries,capitals))

In [65]:
print(d)

{'India': 'Delhi', 'us': 'washington', 'south Africa': ' cape Town'}

# class and object

In [74]:
class Student:
    
    class_marks = []
    def __init__(self,name,school):
        self.name = name
        self.school = school
        self.marks = []
        
    def show(self):
        print(self.name,self.school)

In [75]:
s = Student("Prateek","DTU")
s2 = Student("Sharad","DCE")
s.marks.append(10)
s2.marks.append(20)
s.class_marks.append(10)
s2.class_marks.append(20)

In [76]:
s.show()
s2.show()
print(s.class_marks)
print(s2.class_marks)
print(s.marks)
print(s2.marks)

Prateek DTU
Sharad DCE
[10, 20]
[10, 20]
[10]
[20]

In [79]:
import random

In [82]:
random.randint(10,20)

12

In [83]:
random.seed(10)

In [84]:
l = [i for i in range(10)]
print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [85]:
random.shuffle(l)

In [86]:
print(l)

[5, 2, 7, 1, 8, 4, 3, 6, 0, 9]

# Numpy

In [88]:
pip install numpy for mathematical computations

The following command must be run outside of the IPython shell:

    $ pip install numpy for mathematical computations

The Python package manager (pip) can only be used from outside of IPython.
Please reissue the `pip` command in a separate terminal or command prompt.

See the Python documentation for more information on how to install packages:

    https://docs.python.org/3/installing/

In [89]:
!pip install numpy

Requirement already satisfied: numpy in c:\users\saurabh kumar\appdata\local\programs\python\python37-32\lib\site-packages (1.16.4)